/* Estilos para las tarjetas de oradores */
.speaker-card {
    border: 1px solid #ccc;
    margin-bottom: 0px;
    padding: 0px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.speaker-card img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ccc;
}

.speaker-details {
    margin-top: 20px;
    text-align: center;
}

.speaker-buttons {
    margin-bottom: 10px;
}

.yellow-button,
.blue-button,
.purple-button,
.red-button {
    background-color: transparent;
    color: black;
    border: none;
    cursor: pointer;
    font-size: 95%;
    font-weight: bold;
    border-radius: 5px;
}

.yellow-button {
    background-color: yellow;
}

.blue-button {
    background-color: #007bff;
    color: white;
}

.purple-button {
    background-color: purple;
    color: white;
}

.red-button {
    background-color: red;
    color: white;
}

.speaker-name {
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
}

.speaker-description {
    font-size: 16px;
}

/* Estilos para las tarjetas de eventos */
.event-card {
    padding: 0;
    margin: 0;
    border: none;
    display: flex;
}

.event-image {
    max-width: 100%;
    height: auto;
    margin-right: 20px;
}

.event-text {
    text-align: left;
    padding-left: 20px;
    background-color: rgba(72, 87, 101, 0.9);
    padding: 20px;
    border-radius: 0;
    flex-grow: 1;
}

.event-text h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.event-text p {
    font-size: 18px;
    margin-bottom: 20px;
}

.white-button {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s, color 0.3s;
    text-decoration: none;
}

.white-button:hover {
    background-color: white;
    color: rgba(72, 87, 101, 0.9);
}
